node_modules
index2.html
//bishoy
index3.html
//bright
styles2.css
//bishoy
styles3.css

to do
//bishoy
Header 1 & header 2
cover-page
latest news & latest deals

//bright
latest funding
resources
footer 1 & footer 2
