body {
  background-color: rgb(255, 255, 255);
  margin: 0%;
}

header {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.first-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  position: relative;
}

.first-header .left-nav a,
.first-header .right-nav a {
  color: rgb(160, 160, 160);
  text-decoration: none;
  padding: 0 10px;
  font-size: 11px;
}

.first-header .left-nav a:hover,
.first-header .right-nav a:hover {
  color: white;
  text-decoration: none;
}

.dropdown-link {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
  color: lightgray;
  min-width: 100px;
  min-height: 200px;
  padding: 2% 2%;
  z-index: 999;
}

.dropdown-link:hover .dropdown-menu {
  display: block;
}

.second-header {
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
    top: 0;
    z-index: 9999; */
}

.second-header a {
  text-decoration: none;
  color: darkgray;
  margin-right: 10px;
  font-size: 12px;
}

.second-header a:hover {
  color: black;
}

.fa-search {
  opacity: 0.5;
  transform: scaleX(-1);
}

.cover-section {
  display: grid;
  background-color: rgb(241, 241, 241);
  height: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 1%;
  padding: 1%;
}

.cover-story {
  background-image: linear-gradient(to right,
      rgb(72, 120, 192),
      rgb(206, 114, 86));
  position: relative;
  font-weight: bold;
}

.cover-story img {
  max-height: 100%;
}

.big-cover {
  grid-row: 1/3;
}

.cover-details .date {
  position: absolute;
  top: 1px;
  right: 1px;
  color: white;
}

.cover-details .article-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
  color: white;
}

.big-cover .cover-details .article-title {
  position: absolute;
  bottom: 1px;
  left: 1px;
  font-size: 50px;
  color: white;
}

.cover-details ul {
  position: absolute;
  bottom: 1px;
  left: 1px;
  display: flex;
}

ul.article-info>* {
  color: rgb(143, 143, 143);
}

.big-cover-image {
  max-width: 100%;
  height: auto;
}

.section-header-title {
  color: #ff4422;
  font-size: 25px;
  font-weight: bolder;
}

.latest-news-article,
.latest-deals-article {
  height: 5%;
  width: 23%;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}

.latest-news-image {
  width: 100%;
  height: 70%;
  display: block;
}

.article-info,
.deal-info {
  display: flex;
  justify-content: flex-start;
}

.info,
.light {
  opacity: 0.5;
  display: inline;
}

.strike {
  text-decoration: line-through;
}

.old-price {
  margin-right: 3%;
}

.new-price {
  opacity: 0.8;
}

.main-section {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
}

.flex-section {
  display: flex;
  /* margin: 0 auto; */
  margin: 1% 2%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deal-img {
  position: relative;
}

.deal-img-text {
  position: absolute;
  font-size: 10px;
  background-color: rgb(255, 222, 74);
  color: black;
  transform: rotate(45deg);
  top: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  padding-top: 20%;
}

/* Last fundiing section */
.latest-funding-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 55px; */
  letter-spacing: -1px;
}

.section-header-link {
  padding-right: 110px;
  color: #ff4422;
}

.funding-header-link {
  text-decoration: none;
  padding: 0.5rem;
  color: #ff4422;
  letter-spacing: 0.5px;
}

.funding-header-link:hover {
  color: black;
  opacity: 0.6;
}

.latest-funding {
  display: flex;
  margin: 1% 3% 1% 5%;
  padding: 1% 0;
}

.latest-funding-article {
  background-color: #fffaf8;
  position: relative;
  width: 25%;
  margin-right: 20px;
}

.top {
  text-align: left;
  padding-left: 90px;
  padding-top: 10px;
}

.funding-top-header {
  background-color: #ff4422;
  margin: 0;
  height: 40px;
}

.funding-bottom-header {
  background-color: #ffebe7;
  padding-bottom: 8px;
}

.latest-funding-image {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 25%;
}

.fund {
  padding-bottom: 10px;
  font-weight: bolder;
}

.fund-title {
  font-size: 0.7em;
}

.latest-funding-footer-group {
  padding-left: 10px;
  font-size: 0.82em;
}

.latest-funding-footer-list {
  list-style-type: none;
  font-size: 1em;
  padding-bottom: 10px;
  padding-left: 0;
}

.latest-funding-hr {
  border: 1px solid #ffcdc2;
}

.lastest-funding-description {
  padding-left: 15px;
}

.resources {
  margin: 1% 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.resources-section {
  background-color: white;
  margin: 1% 2%;
}

.resources-footer-header {
  position: relative;
}

.resources-floating-content {
  position: absolute;
  top: 70px;
  padding-left: 15px;
}

.resources-floating-content-link {
  color: white;
}

.resources-body-part {
  background-color: #fff4f2;
  height: 5.5rem;
}

.resources-body-content {
  position: relative;
  padding: 10px 75px 10px 0;
  color: #ff4422;
  display: block;
  padding-left: 15px;
}

.resources-body-content-header {
  padding-bottom: 10px;
}

.resources-body-content a {
  color: #ff4422;
  display: block;
  text-align: left;
}

.resources-body-img {
  position: absolute;
  top: 8px;
  right: 0;
  width: 22%;
}

.resources-list {
  padding-inline-start: 15px;
}

.resources-list a {
  color: #6d6565;
  padding-bottom: 90px;
  padding-top: 90px;
}

.resources-list a:hover {
  color: #241a1a;
}

.resources-list ul a::before {
  content: \2022;
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.footer1 {
  height: 150px;
  width: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer1-icon {
  padding-bottom: 10px;
}

.footer1-sicials {
  padding: 8px;
  margin: 5px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: darkgray;
}

.footer1-sicials:hover {
  background-color: black;
}

.footer2 {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer2-logo {
  width: 40px;
}

.footer2-logo2 {
  width: 70px;
}

.footer-text {
  color: linen;
  font-size: 12px;
}
