body {
  background-color: rgb(255, 255, 255);
  margin: 0%;
  font-family: 'Balsamiq Sans', cursive;
}

header {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.first-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  position: relative;
}

.first-header .left-nav a,
.first-header .right-nav a {
  color: rgb(160, 160, 160);
  text-decoration: none;
  padding: 0 10px;
  font-size: 11px;
}

.first-header .left-nav a:hover,
.first-header .right-nav a:hover {
  color: white;
  text-decoration: none;
}

.dropdown-link {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
  color: lightgray;
  min-width: 100px;
  min-height: 200;
  padding: 2% 2%;
  z-index: 999;
}

.dropdown-link:hover .dropdown-menu {
  display: block;
}

.second-header {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-header a {
  text-decoration: none;
  color: darkgray;
  margin-right: 10px;
  font-size: 12px;
}

.second-header a:hover {
  color: black;
}

.tnw-logo-smallscreen {
  display: none;
}

.fa-search {
  opacity: 0.5;
  transform: scaleX(-1);
}
  
.fa-bars {
  display: none;
}

/* cover section styles */
.cover-section {
  display: grid;
  background-color: rgb(243, 243, 243);
  height: 600px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap:10px;
  margin: 1%;
  padding: 1%;
}

.cover-story {
  position: relative;
  font-weight: bold;
  border: solid 3px white;
}

.big-cover {
  grid-column: 1/3;
  grid-row: 1/3;
}

.tnw-logo{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
}

.cover-details .date {
  position: absolute;
  top: 1px;
  right: 1px;
  color: white;
}

.cover-details .article-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
  color: white;
}

.big-cover .cover-details .article-title {
  position: absolute;
  bottom: 1px;
  left: 1px;
  font-size: 30px;
  color: white;
}

.cover-details ul {
  position: absolute;
  bottom: 1px;
  left: 1px;
  display: flex;
}

ul.article-info>* {
  color: rgb(143, 143, 143);
  list-style-type: none;
}

.article-info i{
  padding:0 5%;
}

.cover-img {
  width: 100%;
  height:100%;
  
}

.section-header-title {
  color: #ff4422;
  font-size: 25px;
  font-weight: bolder;
}

.latest-news-article,
.latest-deals-article {
  height: 5%;
  width: 23%;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}

.latest-news-image {
  width: 100%;
  height: 70%;
  display: block;
}

.article-info,
.deal-info {
  display: flex;
  justify-content: flex-start;
}

.info,
.light {
  opacity: 0.5;
  display: inline;
}

.strike {
  text-decoration: line-through;
}

.old-price {
  margin-right: 3%;
}

.new-price {
  opacity: 0.8;
}

.main-section {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.flex-section {
  display: flex;
  /* margin: 0 auto; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.deal-img {
  position: relative;
}

.deal-img-text {
  position: absolute;
  font-size: 10px;
  background-color: rgb(255, 222, 74);
  color: black;
  transform: rotate(45deg);
  top: -14px;
  right: 0;
  text-align: center;
  overflow: hidden;
  padding-top: 20%;
}


/* Last fundiing section */

.latest-funding-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -1px;
}

.section-header-link {
  padding-right: 110px;
  color: #ff4422;
}

.funding-header-link {
  text-decoration: none;
  padding: 0.5rem;
  color: #ff4422;
  letter-spacing: 0.5px;
}

.funding-header-link:hover {
  color: black;
  opacity: 0.6;
}



.latest-funding-article {
  background-color: #fffaf8;
  position: relative;
  width: 20%;
}

.top {
  text-align: left;
  padding-left: 40%;
  padding-top: 10px;
}

.funding-top-header {
  background-color: #ff4422;
  margin: 0;
  height: 40px;
}

.funding-bottom-header {
  background-color: #ffebe7;
  padding-bottom: 8px;
}

.latest-funding-image {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 25%;
}

.fund {
  padding-bottom: 10px;
  font-weight: bolder;
}

.fund-title {
  font-size: 0.7em;
}

.latest-funding-footer-group {
  padding-left: 10px;
  font-size: 0.82em;
}

.latest-funding-footer-list {
  list-style-type: none;
  font-size: 1em;
  padding-bottom: 10px;
  padding-left: 0;
}

.latest-funding-hr {
  border: 1px solid #ffcdc2;
}

.lastest-funding-description {
  padding-left: 15px;
}
/* Resources Section  */

.resources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 25px;
}

.resources-section {
  background-color: white;
  margin: 1% 2%;
}

.resources-article .section-header-title {
  margin-bottom: 4rem;
}

.resources-footer-header {
  position: relative;
}

.resources-floating-content {
  position: absolute;
  top: 40%;
  padding-left: 15px;
}

.resources-floating-content h5,
.resources-body-part span {
  margin-block: 0.3em;
  font-size: 0.7rem
}

.resources-floating-content p {
  margin-block: 0.1em;
  text-transform: uppercase;
  font-size: 0.92rem;
}

.resources-floating-content span {
  margin-block: 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

.resources-floating-content-link {
  color: white;
}

.resources-body-part {
  background-color: #fff4f2;
  height: 4.5rem;
}

.resources-body-part a {
  font-size: 0.8rem;
}

.resources-body-content {
  position: relative;
  padding: 10px 75px 10px 0;
  color: #ff4422;
  display: block;
  padding-left: 15px;
}

.resources-body-content-header {
  padding-bottom: 10px;
}

.resources-body-content a {
  color: #ff4422;
  display: block;
  text-align: left;
}

.resources-body-img {
  position: absolute;
  top: 5px;
  right: 0;
  width: 22%;
}

.resources-list {
  padding-inline-start: 20px;
  margin-block: 0.5em;
}

.resources-list a {
  color: #6d6565;
  padding-bottom: 90px;
  padding-top: 90px;
  font-size: 0.9rem;
}

.resources-list a:hover {
  color: #241a1a;
}

.resources-list ul a::before {
  content: \2022;
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.latest-resources-hr {
  border: 1px solid #ffcdc2;
  opacity: 0.4;
  margin-block: 2px;
}

.footer1 {
  height: 150px;
  width: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer1-icon {
  padding-bottom: 10px;
}

.footer1-links a {
  color: #6d6a6a;
  font-family: serif;
  font-size: 0.8rem;
  margin: 0 4px;
}

.footer1-sicials {
  padding: 8px;
  margin: 5px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: darkgray;
  color: white;
}

.footer1-sicials:hover {
  background-color: black;
}

.footer2 {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer2-logo {
  width: 40px;
}

.footer2-logo2 {
  width: 70px;
}

.footer-text {
  color: linen;
  font-size: 12px;
}

.footer2-content {
  width: 50%;
  text-align: center;
}

.footer2-content p, .footer2-content img {
  display: inline;
}



@media  (min-width: 768), (max-width: 1025px)   {
  .last-funding {
    display: none;
  }
  .latest-funding-article {
    width: 30%;
    margin-right: 2%;
  }
  .tnw-logo{
    display: none;
  }
  .latest-news-article, .latest-deals-article{
    background-color: rgb(240, 240, 240);
    width: 30%;
    margin-right: 2%;
  }
  .flex-section{
    justify-content: flex-start;
  }

  .resources {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .deal-img-text {
    display: none;
  }

}
@media (max-width: 768px) {
  .first-header{
    display: none;
  }
  .cover-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-image: linear-gradient(
      to right,
      rgb(72, 120, 192),
      rgb(206, 114, 86)
    );
  }
  .big-cover {
    grid-row: 1/2;
    grid-column: 1/1;
  }
  .cover-story .cover-details .date {
    display: none;
  }
  
  .cover-story .article-title,
  .big-cover .cover-details .article-title {
    font-size: 20px;
  }

  .cover-img {
    width: 100%;
    max-height: 170px;
    object-fit: contain;
  }
  .flex-section {
    flex-direction: column;
    width: 100%;
  }
  .latest-news-article,
  .latest-deals-article {
    height: 5%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    display: flex;
  }
  .latest-news-image,
  .deal-img {
    width: 15%;
    height: 15%;
  }
  .main-section {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  }
  .latest-funding {
    flex-direction: column;
  }
  .latest-funding-article {
    background-color: #fffaf8;
    position: relative;
    width: 70%;
  }
  .latest-funding-image {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 10%;
  }
  
}

@media screen and (max-width: 480px) {
  .right-nav {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .tnw-logo-smallscreen {
    display: block;
    background-color: black;
    width: 80px;
    height: 100%;
  }

  .second-header-icon {
    display: flex;
    width: 50px;
    justify-content: space-between;
  }

  .resources {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }


}

